<%# coding: UTF-8 %>
<%
  title = "レコード設計書"
  key_fields = dds_tree.key_fields
  number = 0
%>
<h1>レコード設計書</h1>

<table class="caption">
  <tr>
    <th>物理ファイル</th>
    <td><%= name.sub(".txt", "") %></td>

    <th>レコード様式名</th>
    <td><%= dds_tree.record_level.name %></td>

    <th>レコード長</th>
    <td><%= dds_tree.record_length %></td>
  </tr>
</table>

<p>

<table>
  <tr>
    <th>No.</th>
    <th>項目名</th>
    <th>項目ID</th>
    <th>桁数(小数)</th>
    <th>属性</th>
    <th>キー順</th>
    <th>バイト</th>
    <th>開始</th>
    <th>終了</th>
  </tr>
  <% dds_tree.data_fields.each do |d| %> 
  <tr>
    <td><%= number += 1 %></td>
    <td class="left"><%= d.name_j %></td>
    <td class="left"><%= d.name %></td>
    <td><%= d.length %> <%= "(" + d.decimal_positions.to_s + ")" if d.decimal_positions %>  </td>
    <td><%= d.type %></td>
    <td><%= key_fields[d.name].to_s + " ASC" if key_fields[d.name] %></td>
    <td><%= d.byte %></td>
    <td><%= d.start_digit %></td>
    <td><%= d.end_digit %></td>
  </tr>
  <% end %>
</table>
<p>
<a href="<%= './' + "index.html" %>">一覧</a>
