<%# coding: UTF-8 %>
<%
  title = "レコード設計書一覧"
  number = 0
%>

<h1>レコード設計書一覧</h1>

<table class="caption">
  <tr>
    <th>ファイル数</th>
    <td><%= number_of_files %></td>
    <th>総ステップ数</th>
    <td><%= total_loc %></td>
  </tr>
</table>

<p>
<table>
  <tr>
    <th>No.</th>
    <th>ファイル名</th>
    <th>ファイルID</th>
    <th>レコード長</th>
  </tr>
  <% dds_list.each do |d|  %>
  <tr>
    <td><%= number += 1 %></td>
    <td class="left"><%= "???" %></td>
    <td class="left"><a href="<%= './' + d[0] + '.html' %>"><%= d[0] %></a></td>
    <td class="right"><%= d[1] %></td>
  </tr>
  <% end %>
</table>

